body {
  background-color: white;
  color: black;
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.head {
  font-size: 40px;
  color: #000;
  text-align: center;
  position: relative;
  width: max-content;
  margin: 0 auto;

  &::after {
    content: "";
    display: block;
    border-bottom: 2px solid #f16739;
    width: 75%;
    margin: 0 auto;
    padding-top: 5px;
  }
}

.para {
  font-size: 18px;
  color: #666666;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1300px) {
  .container {
    width: 1200px;
  }
}

.main-panel {
  height: calc(100vh - 64px);

  .footer {
    background: #333333;
    padding: 40px 0;  
    color: #fff;
  }
}

@media (max-width: 767px) {
  .head {
    font-size: 20px;
  }
}

.ui-sidebar {
  background: #000;
  color: #fff;
}