<div class="footer-wrap container">
  <div class="p-grid">
    <div class="p-col-12 p-lg-3 p-md-3">
      <p class="para" >follow us on</p>
      <div class="social-icons">
        <img src="/assets/footer/facebook.svg" alt="">
        <img src="/assets/footer/linkedin.svg" alt="">
        <img src="/assets/footer/twitter.svg" alt="">
      </div>
    </div>
    <div class="p-col-12 p-lg-3 p-md-3">
      <p class="para" >Terms & Conditions</p>
      <p class="para" >Privacy Policy</p>
    </div>
    <div class="p-col-12 p-lg-6 p-md-6 logo">
      <p class="para" >powered by</p>
      <img src="/assets/footer/footer-logo.svg" alt="">
    </div>
  </div>
</div>